body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo-class {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

span {
  color: #2e2f42;
}
.navbar-link a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-1 {
  color: #2e2f42;
}
.link-1:hover {
  color: #404bbf;
}
.link-1:focus {
  color: #404bbf;
}
.navbar-link a:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.header .address-links .add-one {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header .address-links .add-one:hover,
:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
}
.main-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-css {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-css:hover,
:focus {
  background-color: #404bbf;
  cursor: pointer;
}
