/* Header/Navbar/Address */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-links:hover,
:focus {
  color: #404bbf;
}
.adres-link {
  font-style: normal;
}
.adres-altlinks {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
.adres-altlinks:hover {
  color: #404bbf;
}
.adres-altlinks:focus {
  color: #404bbf;
}
